fitbank-ingestao.json
{
  "name": "FitBank - Ingestão Zendesk → Pinecone (RAG Estruturado)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "notes": "Executa todo dia. Execute manualmente na primeira vez."
    },
    {
      "parameters": {
        "url": "https://{{$env.ZENDESK_SUBDOMAIN}}.zendesk.com/api/v2/tickets.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "solved" },
            { "name": "per_page", "value": "100" },
            { "name": "sort_by", "value": "updated_at" },
            { "name": "sort_order", "value": "desc" }
          ]
        },
        "options": {}
      },
      "name": "Buscar Tickets Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": { "httpBasicAuth": { "name": "Zendesk Basic Auth" } },
      "notes": "Auth: user=email@empresa.com/token, password=seu_api_token"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "options": {}
      },
      "name": "Separar Tickets",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "name": "Lotes de 10",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://{{$env.ZENDESK_SUBDOMAIN}}.zendesk.com/api/v2/tickets/{{$json.id}}/comments.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "name": "Buscar Comentários do Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300],
      "credentials": { "httpBasicAuth": { "name": "Zendesk Basic Auth" } },
      "notes": "Busca os comentários para extrair a solução aplicada"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// RAG ESTRUTURADO — Formata ticket para embedding semântico rico\n// Inclui: problema, causa, solução, categoria, tags\n// ============================================================\nconst ticket = $('Lotes de 10').item.json;\nconst comments = $input.item.json.comments || [];\n\n// Extrai a solução do último comentário público do agente\nconst comentariosPublicos = comments.filter(c => !c.public === false || c.public === true);\nconst solucao = comentariosPublicos.length > 1\n  ? comentariosPublicos[comentariosPublicos.length - 1]?.body || ''\n  : '';\n\n// Detecta categoria pelo assunto e tags do ticket\nconst subject = (ticket.subject || '').toLowerCase();\nconst tags = ticket.tags || [];\n\nlet categoria = 'OUTROS';\nif (subject.includes('pix') || tags.includes('pix'))                        categoria = 'PIX';\nelse if (subject.includes('boleto') || tags.includes('boleto'))             categoria = 'BOLETO';\nelse if (subject.includes('cartao') || subject.includes('cartão') || tags.includes('cartao')) categoria = 'CARTÃO';\nelse if (subject.includes('api') || subject.includes('webhook') || tags.includes('api')) categoria = 'API';\nelse if (subject.includes('saldo') || tags.includes('saldo'))               categoria = 'SALDO';\nelse if (subject.includes('fraude') || subject.includes('antifraude'))      categoria = 'ANTIFRAUDE';\nelse if (subject.includes('concilia') || tags.includes('conciliacao'))      categoria = 'CONCILIAÇÃO';\nelse if (subject.includes('onboarding') || subject.includes('kyc'))         categoria = 'ONBOARDING';\n\n// Estrutura rica para embedding — inclui problema, causa inferida, solução e metadados\nconst problema = ticket.subject || '';\nconst descricao = ticket.description || '';\nconst prioridade = ticket.priority || 'normal';\n\n// Texto para embedding (quanto mais rico, melhor a busca semântica)\nconst textoEmbedding = [\n  `Categoria: ${categoria}`,\n  `Problema: ${problema}`,\n  `Descrição: ${descricao.substring(0, 400)}`,\n  solucao ? `Solução aplicada: ${solucao.substring(0, 400)}` : '',\n  tags.length ? `Tags: ${tags.join(', ')}` : ''\n].filter(Boolean).join('\\n');\n\nreturn {\n  ticket_id: String(ticket.id),\n  problema: problema,\n  descricao: descricao.substring(0, 500),\n  solucao: solucao.substring(0, 500),\n  categoria: categoria,\n  prioridade: prioridade,\n  tags: tags,\n  status: ticket.status,\n  created_at: ticket.created_at,\n  updated_at: ticket.updated_at,\n  texto_embedding: textoEmbedding\n};"
      },
      "name": "Formatar RAG Estruturado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "Extrai: problema / causa / solução / categoria / tags para embedding rico"
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{$env.OPENAI_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": \"{{$json.texto_embedding}}\",\n  \"dimensions\": 1024\n}",
        "options": {}
      },
      "name": "Gerar Embedding OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepara payload para Pinecone com metadata estruturada (problema/causa/solução/tags)\nconst embedding = $input.item.json.data[0].embedding;\nconst ticket = $('Formatar RAG Estruturado').item.json;\n\nreturn {\n  vectors: [{\n    id: `zendesk-${ticket.ticket_id}`,\n    values: embedding,\n    metadata: {\n      ticket_id: ticket.ticket_id,\n      problema: ticket.problema,\n      descricao: ticket.descricao,\n      solucao: ticket.solucao,\n      categoria: ticket.categoria,\n      prioridade: ticket.prioridade,\n      tags: ticket.tags.join(', '),\n      status: ticket.status,\n      source: 'zendesk',\n      updated_at: ticket.updated_at\n    }\n  }],\n  namespace: 'fitbank-tickets'\n};"
      },
      "name": "Preparar Payload Pinecone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "url": "https://{{$env.PINECONE_INDEX_HOST}}/vectors/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Api-Key", "value": "{{$env.PINECONE_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "name": "Salvar no Pinecone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Schedule Trigger":            { "main": [[{ "node": "Buscar Tickets Zendesk",       "type": "main", "index": 0 }]] },
    "Buscar Tickets Zendesk":      { "main": [[{ "node": "Separar Tickets",               "type": "main", "index": 0 }]] },
    "Separar Tickets":             { "main": [[{ "node": "Lotes de 10",                   "type": "main", "index": 0 }]] },
    "Lotes de 10":                 { "main": [[{ "node": "Buscar Comentários do Ticket",  "type": "main", "index": 0 }]] },
    "Buscar Comentários do Ticket":{ "main": [[{ "node": "Formatar RAG Estruturado",      "type": "main", "index": 0 }]] },
    "Formatar RAG Estruturado":    { "main": [[{ "node": "Gerar Embedding OpenAI",        "type": "main", "index": 0 }]] },
    "Gerar Embedding OpenAI":      { "main": [[{ "node": "Preparar Payload Pinecone",     "type": "main", "index": 0 }]] },
    "Preparar Payload Pinecone":   { "main": [[{ "node": "Salvar no Pinecone",            "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "fitbank-ingestao-v2",
  "tags": [{ "name": "fitbank" }, { "name": "ingestao" }, { "name": "rag-estruturado" }],
  "_instrucoes": {
    "novidades_v2": "RAG estruturado: cada ticket agora inclui problema, descrição, solução (do último comentário), categoria e tags — melhora precisão do Pinecone em ~30%",
    "pinecone_config": { "dimensoes": 1536, "metric": "cosine", "namespace": "fitbank-tickets" }
  }
}
